.sideComment {
    width: 100%;

    &__wrapper {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__author {
        display: flex;
        align-items: center;
        gap: 5px;

        &_name {
            font-size: 14px;
            font-weight: 700;
        }
    }

    &__text {
    }
}
