@import '@/styles/variables.scss';

@media screen and (min-width: $phone-sm) {
    .pageLayout {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            background: #f0f0f0;
            padding: 0 10px;
        }

        &__pageContent {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow-y: scroll;
            padding: 10px 20px;
        }

        &__pageContent::-webkit-scrollbar {
            display: none;
        }

        &__staticBlock {
            display: none;
        }

        &__pageContent {
            padding: 10px 0;
        }

        &__sidebarMobile {
            display: block;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

@media screen and (min-width: $tablet) {
    .pageLayout {
        &__pageContent {
            padding: 10px 30px;
        }
    }
}

@media screen and (min-width: $desktop) {
    .pageLayout {
        &__staticBlock {
            display: block;
        }
        &__sidebarMobile {
            display: none;
        }
    }
}

@media screen and (min-width: $four-k) {
    .pageLayout {
        &__pageContent {
            width: 1200px;
        }
    }
}
