.postActions {
    // border: 1px solid black;
    &__wrapper {
        margin: 0 auto;
        padding: 5px 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__group {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__item {
        cursor: pointer;
    }
}
