// размеры экрана
$phone-sm: 320px;
$phone-md: 375px;
$phone: 480px;
$phone-lg: 576px;
$tablet: 768px;
$tablet-lg: 992px;
$desktop: 1024px;
$widescreen: 1200px;
$widescreen-md: 1360px;
$widescreen-lg: 1440px;
$widescreen-full: 1600px;
$full-hd: 1920px;
$four-k: 2560px;
